/* header */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4c3ca;
}

.titulo-principal {
  color: #0000ff;
  font-size: 60px;
  font-family: font-family "Open Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  text-decoration: none;
}

.navegacion {
  margin: 20px;
  background-color: #d1ebf7;
  float: right;
  border-radius: 18px;
  display: flex;
  justify-content: center;
}

.navegacion ul {
  list-style: none;
  float: right;
  z-index: 2;
}

.menu > li {
  display: inline-block;
}

.menu > li > a {
  display: inline-block;
  padding: 15px 20px;
  color: black;
  font-family: "Noto Serif", serif;
  text-decoration: none;
}

.menu li a:hover {
  color: #0000ff;
  transition: all 0.5s;
  transform: scale(1.5);
}

/* sub menu */
.submenu {
  position: absolute;
  width: 15%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.3;
  background-color: #ea899a;
  border-radius: 20px;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: black;
  font-family: "Noto Serif", serif;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/* fin header*/
/*main */
.titulo-secundario {
  padding: 40px;
  color: #0000ff;
  text-align-last: center;
  font-family: "Noto Serif", serif;
  font-size: 40px;
}

.titulo-localidades {
  padding: 40px;
  color: #0000ff;
  text-align-last: center;
  font-family: "Noto Serif", serif;
  font-size: 40px;
}

.section-destacadas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-localidades {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sub-localidades {
  display: flex;
  align-items: center;
  padding: 40px;
  flex-direction: column;
}

.localidades {
  color: black;
  text-decoration: none;
  font-family: "Noto Serif", serif;
  font-size: 30px;
  padding: 7px;
}

.sub-localidades :hover {
  transition: all 0.8s;
  transform: rotate(360deg) scale(2);
  transition: 1s;
}

.localidades:hover {
  color: #0000ff;
  background-color: #ea899a;
  border-radius: 20px;
}

/* section alquiler y ventas con Grid */
.contenedor {
  padding-left: 4%;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-items {
  width: 80%;
  height: 80%;
  grid-column-gap: 15px;
  padding: 10px;
}

.img-alq {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #9c7d82;
}

/* fin section alq. y venta grid*/
/* footer*/
.footer {
  padding: 20px;
  margin: 20px;
  border: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  display: flex;
  align-items: flex-end;
}

.titulo-footer {
  background-color: #ea899a;
  border-radius: 16px;
}

.imag-logo-footer {
  padding: 5px;
  border: 2px;
  margin: 5px;
  width: 40%;
  justify-content: end;
}

li {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Noto Serif", serif;
  color: black;
  font-size: 20px;
}

/* fin footer */
/* seccion contacto */
.contacto-section {
  padding: 150px;
}

.contacto-map {
  display: flex;
  justify-content: center;
}

/* nosotros */
.section-nosotros {
  padding: 50px;
  margin: 20px;
  border: 10px;
  display: flex;
  display: inline-block;
  justify-content: center;
}
.section-nosotros .nosotros-titulos {
  font-size: 40px;
  color: #0000ff;
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* servicios */
.servicios-adm {
  padding-top: 150px;
  font-family: "Noto Serif", serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicios-sect {
  color: #0000ff;
  display: inline-grid;
}

.texto-servicio {
  padding: 10px;
  display: flex;
  display: inline-block;
  align-items: center;
}

.navegacion-servicio {
  margin: auto;
}

/* todas las secciones */
.titulo-secciones {
  padding-top: 120px;
  color: #0000ff;
  text-align-last: center;
  font-family: "Noto Serif", serif;
  font-size: 20px;
}

.propiedades-secciones {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-img {
  margin: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 3px 3px #9c7d82;
  border-radius: 20px;
}

/* section destacada transition */
.art-destacadas {
  margin: 20px;
  padding: 5px;
  border: 5px;
  transition: 0.8s;
}

.art-destacadas:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 576px) {
  * {
    background-color: lightgoldenrodyellow;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    background-color: none;
  }

  .logo-footer {
    display: flex;
    align-items: flex-end;
  }

  .pie-footer > p {
    font-size: 10px;
    padding: 100px;
  }

  .section-localidades {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .navegacion {
    margin: 20px;
    float: left;
    border-radius: 18px;
    display: flex;
    justify-content: center;
  }

  .logo-header {
    display: flex;
  }

  .sec-nav {
    display: flex;
  }

  .art-destacadas {
    padding-left: 50px;
  }

  .menu-localidades {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 60p;
  }

  .titulo-localidades {
    display: none;
  }

  .logo-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .section-destacadas {
    padding: 40px;
    justify-content: space-evenly;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
  }
}

/*# sourceMappingURL=style.css.map */
