@media only screen and (max-width: 576px) {
    *{
        background-color:lightgoldenrodyellow;
    }
    
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap; 
        background-color:none;
    
    }
    .logo-footer{
        display: flex;
        align-items:flex-end
    }

    .pie-footer> p {
       font-size: 10px;
       padding: 100px;
    }
    .section-localidades{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .navegacion{
        margin: 20px;
        float: left;
        border-radius: 18px;
        display: flex;
        justify-content: center;
    }
    .logo-header{
        display: flex;
    }
    .sec-nav{
        display: flex; 
    }
    .art-destacadas{
        padding-left: 50px;
   }
    .menu-localidades{
        display: none;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 60p
   }
   .titulo-localidades{
       display: none;
   }
   .logo-footer{
        flex-wrap: wrap;
        justify-content: center;
   }
   
   
} 

@media only screen and ( max-width: 768px) {
    .section-destacadas {
        padding: 40px;
        justify-content: space-evenly;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: grid;
       
    }
}