@media only screen and (max-width: 576px) {
    *{
        background-color:lightgoldenrodyellow;
    }
    
    .menu{
        display: flex;
    }
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap; 
        background-color:none;
    
    }
    .logo-footer{
        display: flex;
        align-items:flex-end
    }

    .pie-footer> p {
       font-size: 10px;
       padding: 100px;
    }
    .section-localidades{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
} 

@media only screen and ( max-width: 768px) {
    .section-destacadas {
        padding: 40px;
        justify-content: space-evenly;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: grid;
       
    }
}