@import "../base/variables";

/* todas las secciones */
.titulo-secciones{
    padding-top: 120px;
    color: $color-primario;
    text-align-last: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.propiedades-secciones{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.section-img{
   
    margin: 20px;
    width: 200px; height: 200px;
    box-shadow: 3px 3px 3px 3px rgba($color: #9c7d82, $alpha: 1.0);
    border-radius: 20px;
}

/* section destacada transition */
.art-destacadas{
    margin: 20px;
    padding: 5px;
    border: 5px;
    transition: 0.8s; 
}

.art-destacadas:hover{
    transform: scale(1.2);
}